:root {
   --primary-color:#062863;
   --primary-color-light: #1F50A7;
   --white:#fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-size: 62.5%;
}

body{
   font-family: 'Sen', sans-serif;
   background-color: var(--primary-color);
   font-size: 1.3rem;
}

header{
   text-align: center;
}

header img {
   margin: 4.5rem 0;
   width: 170px;
}

main {
   margin: 0 2%; 
}

form {
   margin: 0 auto;
   padding: 0 4rem;
   max-width: 448px;
   /* min-height: 925px; */
   background-color:var(--white);
}
form .form-info{
   text-align: center;
   padding: 3rem 0;
}

form h2 {
   color: var(--primary-color-light);
}
form label {
   display: block;
   font-weight: bold;
   margin-bottom: .4rem;
}

form input, form select {
   height: 37px;
   width: 100%;
}

.form-control {
   margin-bottom: 3rem;
}

input[type=submit]{
   margin-bottom: 3rem;
}
