:root {
   --primary-color:#062863;
   --white:#fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-size: 62.5%;
}

body{
   font-family: 'Sen', sans-serif;
   background-color: var(--primary-color);
}

header{
   text-align: center;
}

header img {
   margin: 4.5rem 0;
   width: 170px;
}

main {
   margin: 0 2%; 
}

form {
   margin: 0 auto;
   max-width: 448px;
   min-height: 925px;
   background-color:var(--white);
}